language: python
python:
    - "2.7"

env:
    - PLATFORMIO_CI_SRC=examples/simple

install:
    - pip install -U platformio
    - platformio lib install 89
    - platformio lib install 64

script:
    - platformio ci --lib="." --board=uno --board=nodemcu